<h3>Alerts &amp; Boxes</h3>

<div class="row">

	<div class="columns-30">

		<!-- Alerts -->
		<div class="alert alert-info">
			alert
			<a class="close" data-dismiss="alert" href="javascript:;">&times;</a>
		</div>
		<div class="alert alert-success">
			alert
			<a class="close" data-dismiss="alert" href="javascript:;">&times;</a>
		</div>
		<div class="alert alert-warning">
			alert
			<a class="close" data-dismiss="alert" href="javascript:;">&times;</a>
		</div>
		<div class="alert alert-error">
			alert
			<a class="close" data-dismiss="alert" href="javascript:;">&times;</a>
		</div>

	</div>

	<div class="columns-70">

		<div class="row">
			<div class="columns-2">

				<div class="alert alert-block">
					<a class="close" data-dismiss="alert" href="javascript:;">&times;</a>
					<p>
						Small-scale farmers citizenry international development Ford Foundation turmoil shifting landscape; economic development UNHCR; communities climate change Millennium Development Goals Rosa Parks transform the world transform. Empowerment, care fighting poverty complexity long-term.
					</p>
				</div>
				<div class="alert alert-block alert-error">
					<a class="close" data-dismiss="alert" href="javascript:;">&times;</a>
					<p>
						Detection fellows legitimize; agriculture, medicine developing employment peaceful. Rights-based approach world problem solving amplify global globalization, poverty recognize potential safeguards; network think tank social good community health workers Angelina Jolie.
					</p>
				</div>

			</div>
			<div class="columns-2">

				<div class="alert alert-block alert-info">
					<a class="close" data-dismiss="alert" href="javascript:;">&times;</a>
					<p>
						Global citizens crisis situation asylum raise awareness safeguards thinkers who make change happen collaborative consumption new approaches achieve. Minority; natural resources empowerment, capacity building social movement inspire breakthroughs.
					</p>
				</div>
				<div class="alert alert-block alert-success">
					<a class="close" data-dismiss="alert" href="javascript:;">&times;</a>
					<p>
						Educate Arab Spring health; partner progress disruption; refugee; life-expectancy activism transform long-term, expanding community ownership provide humanitarian relief.
					</p>
				</div>

			</div>
		</div>

	</div>
</div>
