<div class="row">

	<div class="columns-2">
		<h4>Default Button Styles</h4>

		<a href="javascript:;" class="btn small">Button small style</a>
		<a href="javascript:;" class="btn">Button basic style</a>
		<a href="javascript:;" class="btn large">Button large style</a>
		<a href="javascript:;" class="btn solid">Button solid style</a>
		<a href="javascript:;" class="btn invert">Button inverted style</a>
		<a href="javascript:;" class="btn invert solid">Button inverted solid style</a>

		<a href="javascript:;" class="button">Custom Effect</a>
		<a href="javascript:;" class="button dark">Custom Effect</a>
	</div>

	<div class="columns-2">
		<h4>Custom Button Colors Styles</h4>

		<a href="javascript:;" class="btn bg-teal">Button teal</a>
		<a href="javascript:;" class="btn bg-aqua">Button aqua</a>
		<a href="javascript:;" class="btn bg-blue">Button blue</a>
		<a href="javascript:;" class="btn bg-navy">Button navy</a>
		<a href="javascript:;" class="btn bg-lime">Button lime</a>
		<a href="javascript:;" class="btn bg-green">Button green</a>
		<a href="javascript:;" class="btn bg-seafoam">Button seafoam</a>
		<a href="javascript:;" class="btn bg-olive">Button olive</a>
		<a href="javascript:;" class="btn bg-yellow">Button yellow</a>
		<a href="javascript:;" class="btn bg-orange">Button orange</a>
		<a href="javascript:;" class="btn bg-red">Button red</a>
		<a href="javascript:;" class="btn bg-fuchsia">Button fuchsia</a>
		<a href="javascript:;" class="btn bg-purple">Button purple</a>
		<a href="javascript:;" class="btn bg-maroon">Button maroon</a>
		<a href="javascript:;" class="btn bg-white">Button white</a>
		<a href="javascript:;" class="btn bg-default">Default Link</a>

	</div>

</div>
