<!-- Callouts -->
<div class="row">
	<div class="callout columns-3">
		<span class="callout-icon">
			<i class="fa fa-check"></i>
		</span>
		<div class="callout-content">
			<h5 class="callout-content-title">Heading</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum aspernatur sapiente temporibus non eius, possimus quia a porro eveniet omnis, molestias esse consectetur adipisci accusamus iusto inventore debitis optio rerum.</p>
		</div>
	</div>
	<div class="callout columns-3">
		<span class="callout-icon">
			<i class="fa fa-check"></i>
		</span>
		<div class="callout-content">
			<h5 class="callout-content-title">Heading</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum aspernatur sapiente temporibus non eius, possimus quia a porro eveniet omnis, molestias esse consectetur adipisci accusamus iusto inventore debitis optio rerum.</p>
		</div>
	</div>
	<div class="callout columns-3">
		<span class="callout-icon">
			<i class="fa fa-check"></i>
		</span>
		<div class="callout-content">
			<h5 class="callout-content-title">Heading</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum aspernatur sapiente temporibus non eius, possimus quia a porro eveniet omnis, molestias esse consectetur adipisci accusamus iusto inventore debitis optio rerum.</p>
		</div>
	</div>
	<div class="callout columns-3">
		<span class="callout-icon">
			<i class="fa fa-check"></i>
		</span>
		<div class="callout-content">
			<h5 class="callout-content-title">Heading</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum aspernatur sapiente temporibus non eius, possimus quia a porro eveniet omnis, molestias esse consectetur adipisci accusamus iusto inventore debitis optio rerum.</p>
		</div>
	</div>
	<div class="callout columns-3">
		<span class="callout-icon">
			<i class="fa fa-check"></i>
		</span>
		<div class="callout-content">
			<h5 class="callout-content-title">Heading</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum aspernatur sapiente temporibus non eius, possimus quia a porro eveniet omnis, molestias esse consectetur adipisci accusamus iusto inventore debitis optio rerum.</p>
		</div>
	</div>
	<div class="callout columns-3">
		<span class="callout-icon">
			<i class="fa fa-check"></i>
		</span>
		<div class="callout-content">
			<h5 class="callout-content-title">Heading</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum aspernatur sapiente temporibus non eius, possimus quia a porro eveniet omnis, molestias esse consectetur adipisci accusamus iusto inventore debitis optio rerum.</p>
		</div>
	</div>
</div>
