<section class="hero">
	<div class="container">

		<h1>
		{% if page.heading %}
			{{ page.heading }}
		{% else %}
			{{ page.title }}
		{% endif %}
		</h1>
		<h5>
		{% if page.subheading %}
			{{ page.subheading }}
		{% else %}
			By
			{% if page.author %}
			{{ page.author }}
			{% else %}
			{{ site.owner.name }}
			{% endif %}
			on
			{{ page.date | date: "%b %-d, %Y" }}
			{% if page.categories.size > 0 %}
			under
			{{ page.categories | join: ', ' }}.
			{% endif %}
		{% endif %}
		</h5>

		<header id="header">
			<nav id="nav">

			    {% for link in site.data.navigation %}
			        {% assign current = nil %}
			        {% if page.url contains link.url %}
			            {% assign current = 'current' %}
			        {% endif %}
					<a href="{{ link.url | prepend: site.baseurl }}" class="{{ current }}">{{ link.title }}</a>
			    {% endfor %}

		        <a href="https://github.com/kiriaze/juice/archive/master.zip">Download.</a>

			</nav>
		</header>

	</div>
</section>
