<div class="row">

	<!-- Notes -->
	<div data-columns="1">
		<div class="note">
			<h4>Notes</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ipsam aliquid iste dignissimos iusto suscipit veniam sequi, repellendus unde sint! Minima dignissimos sapiente quae, vero. Quas esse illum numquam et!
			</p>
		</div>

		<div class="note note-info">
			<h4>Notes</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ut, exercitationem libero possimus fugiat perferendis error! Distinctio porro quod dolorem in consequatur nihil ab, culpa harum officiis mollitia, nostrum iste.
			</p>
		</div>

		<div class="note note-warning">
			<h4>Notes</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta cupiditate sed unde at nemo ipsa atque accusantium dolorum, non perspiciatis doloribus fuga hic, quidem autem laborum sint, commodi perferendis cum.
			</p>
		</div>

		<div class="note note-danger">
			<h4>Notes</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi magnam qui quos obcaecati molestias veniam, vitae adipisci sapiente, eos unde corporis ex voluptate, sit excepturi blanditiis ullam nesciunt deserunt earum!
			</p>
		</div>
	</div>

</div><!-- /row -->
