---
layout: default
---

<section class="hero">
	<div class="container">
		<h1>The Blog.</h1>
		<h5>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		</h5>
		{% include header.html %}
	</div>
</section>

<section>
	<div class="container">

		{% for post in paginator.posts %}
		<article>
			<h2>
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
			<div class="post-meta">
				By
				<span class="author">
					{% if page.author %}
					{{ page.author }}
					{% else %}
					{{ site.owner.name }}
					{% endif %}
				</span>
				on
				<!-- 1.30.2015 -->
				<span class="date">
					{{ post.date | date: "%b %d, %Y" }}
				</span>
				{% if post.categories.size > 0 %}
				 under
				<span class="categories">
					{% for category in post.categories %}
						<a href="{{ site.url | prepend: site.baseurl }}/categories/#{{ category }}" title="Pages categorized in {{ category }}" class="category"><span class="term">{{ category }}</span></a>{% unless forloop.last %},{% endunless %}{% if forloop.last %}.{% endif %}
					{% endfor %}
				</span>
				{% endif %}
			</div>
			<p>
				{{ post.excerpt }}
			</p>
			<a href="{{ post.url | prepend: site.baseurl }}" class="">Read more</a>
		</article>
		{% endfor %}

		{% include pagination.html %}

	</div>

</section>
