---
layout: default
---

<section class="hero">
	<div class="container">
		<h1>{{ page.title }}</h1>
		<h5>
			By
			{% if page.author %}
			{{ page.author }}
			{% else %}
			{{ site.owner.name }}
			{% endif %}
			on
			{{ page.date | date: "%b %-d, %Y" }}
			under
			{{ page.categories | join: ', ' }}.
		</h5>
		{% include header.html %}
	</div>
</section>

<section>
	<div class="container">

		{% if page.image %}
	    	<img src="/assets/images/{{ page.image }}">
	    {% endif %}

		<article>
	      {{ content }}
	    </article>

	    {% include disqus.html disqus_identifier=page.disqus_identifier %}
	</div>
</section>
