---
layout: default
---

<section class="hero">
	<div class="container">
		<h1>{{ page.title }}</h1>
		<h5>
			{% if page.author %}{{ page.author }}{% endif %}
			{{ page.date | date: "%b %-d, %Y" }}
			{{ page.categories }}
		</h5>
		{% include header.html %}
	</div>
</section>

<section>
	<div class="container">

		{% if page.image %}
	    	<img src="/assets/images/{{ page.image }}">
	    {% endif %}

		<article>
	      {{ content }}
	    </article>

		{% if page.previous.url %}
			<a href="{{page.previous.url | prepend: site.baseurl }}" title="Previous Post:{{page.previous.title}}">&laquo; {{page.previous.title}}</a>
		{% endif %}

		{% if page.next.url %}
			<a href="{{page.next.url | prepend: site.baseurl }}" title="next Post:{{page.next.title}}">{{page.next.title}} &raquo; </a>
		{% endif %}

	    {% include disqus.html disqus_identifier=page.disqus_identifier %}
	</div>
</section>
