---
layout: default
---

<section class="hero">
	<div class="container">
		<h1>{{ page.title }}</h1>
		<h5>
			By
			{% if page.author %}
			{{ page.author }}
			{% else %}
			{{ site.owner.name }}
			{% endif %}
			on
			{{ page.date | date: "%b %-d, %Y" }}
			under
			{{ page.categories | join: ', ' }}.
		</h5>
		{% include header.html %}
	</div>
</section>

<section>
	<div class="container">

		{% if page.image.feature %}
	    	<img src="/assets/images/{{ page.image.feature }}">
	    {% endif %}

		<article>

			{% if site.reading_time %}
			<p class="entry-reading-time">
				{% assign readtime = content | number_of_words | divided_by:site.words_per_minute %}
				Reading time ~{% if readtime <= 1 %}1 minute{% else %}{{ readtime }} minutes{% endif %}
			</p><!-- /.entry-reading-time -->
			{% endif %}

			{% if page.tags.size > 0 %}
			<span class="entry-tags">
			Tags:
			{% for tag in page.tags %}
				<a href="{{ site.url }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}" class="tag"><span class="term">{{ tag }}</span></a>{% unless forloop.last %},{% endunless %}{% if forloop.last %}.{% endif %}{% endfor %}
			</span>
			{% endif %}

			{% if page.categories.size > 0 %}
			<span class="entry-categories">
			Cats:
			{% for category in page.categories %}
				<a href="{{ site.url }}/categories/#{{ category }}" title="Pages categorized in {{ category }}" class="category"><span class="term">{{ category }}</span></a>{% unless forloop.last %},{% endunless %}{% if forloop.last %}.{% endif %}{% endfor %}</span>
			{% endif %}

			{% if page.modified %}
				<span>Updated on <span class="entry-date date updated"><time datetime="{{ page.modified }}">{{ page.modified | date: "%B %d, %Y" }}</time></span></span>
				by
				<span class="author vcard">
					<span class="fn">
					{% if page.author %}
					{{ page.author }}
					{% else %}
					{{ site.owner.name }}
					{% endif %}
					</span>
				</span>
			{% endif %}

	      {{ content }}

	    </article>

		{% if page.previous.url %}
			<a href="{{page.previous.url | prepend: site.baseurl }}" title="Previous Post:{{page.previous.title}}">&laquo; {{page.previous.title}}</a>
		{% endif %}

		{% if page.next.url %}
			<a href="{{page.next.url | prepend: site.baseurl }}" title="next Post:{{page.next.title}}">{{page.next.title}} &raquo; </a>
		{% endif %}

	    {% include disqus.html disqus_identifier=page.disqus_identifier %}
	</div>
</section>
