.callout {
	overflow: hidden;
	min-height: 1px;
	position: relative;
	padding: 0 10px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	.callout-icon {
		margin: 0 15px 0 0;
		text-align: center;
		border-radius: 3px;
		transition: all .1s ease-in-out;
		float: left;
		display: inline-block;
		position: relative;
		line-height: 1;
		&.has-bg {
			width: 50px;
			height: 50px;
			i {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				color: $white;
			}
		}
		&.stacked {
			float: none;
			margin: 0 0 15px 0;
		}
		i {
			display: inline-block;
			font-size: 100%;
		}
		&.round {
			border-radius: 50%;
		}
		&.square {
			border-radius: 0;
		}
		&.hex {
			position: relative;
			top: 12.5px;
			width: 50px;
			height: 27.5px;
			margin-bottom: 38px;
			background: $red;
			border-radius: 0;
			&:before {
				content: "";
				position: absolute;
				top: -12.5px;
				left: 0;
				width: 0;
				height: 0;
				border-left: 25px solid transparent;
				border-right: 25px solid transparent;
				border-bottom: 12.5px solid $red;
			}
			&:after {
				content: "";
				position: absolute;
				bottom: -12.5px;
				left: 0;
				width: 0;
				height: 0;
				border-left: 25px solid transparent;
				border-right: 25px solid transparent;
				border-top: 12.5px solid $red;
			}
		}



	}
	.callout-content {
		overflow: hidden;
		.callout-content-title {
			margin: -6px 0 0 0;
			font: normal 19px/29px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
			text-transform: none;
		}
		p {

		}
	}
}
