.note {
	margin: 20px 0;
	padding: 20px;
	border-left: 4px solid #eee;
	background-color: #fff;
	h4 {
		padding: 0 0 .5em;
	}
	p:last-child {
		margin-bottom: 0;
	}
	/* Variations */
	&.note-danger {
		background-color: #fdf7f7;
		border-color: #eed3d7;
		h4 {
			color: #b94a48;
		}
	}
	&.note-warning {
		background-color: #faf8f0;
		border-color: #faebcc;
		h4 {
			color: #c09853;
		}
	}
	&.note-info {
		background-color: #f4f8fa;
		border-color: #bce8f1;
		h4 {
			color: #3a87ad;
		}
	}

	&.alt {
		box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
		background: white;
	}
}
