.dark {
    background-color: $dark;
    color: $white;
}

.container {
	transition: $transition;
}

// Juice gh-pages styles
.gist-file pre {
	color: #222;
}

.bg-image {
	color: white;
	img {
		@extend .fadeIn;
		@extend %absolute-center;
	}
}

// alternate button styles
a.button {
	margin-top: 15px;
	margin-bottom: 15px;
	display: inline-block;
	position: relative;
	z-index: 0;
	color: #171a1c;
	border: 1px solid rgba(23,26,28,.4);
	background: transparent;
	padding: 15px 25px;
	font-size: 10px;
	font-family: 'Montserrat',sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	line-height: 1;
	transition: all 0.3s;
	&:before {
		-webkit-backface-visibility: hidden;
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		top: 100%;
		left: -1px;
		bottom: 0px;
		right: -1px;
		background: #171a1c;
		transition: top 0.3s;
	}
	&.dark {
		color: #fff;
		border: 1px solid rgba(255,255,255,.6);
		background: transparent;
		&:before {
			background: #fff;
		}
	}
	&:hover,
	&:active {
		color: #fff;
		border: 1px solid #171a1c;
		&.dark {
			color: #171a1c;
			border: 1px solid #fff;
		}
		&:before {
			top: -1px;
		}
	}
	@include breakpoint($medium) {
		padding: 18px 30px;
		font-size: 11px;
	}
	@include breakpoint($large) {
		padding: 20px 45px;
		font-size: 11px;
	}
	i {
		padding-right: 5px;
	}
}

#nav {
	font-weight: 600;
	font-size: 0.8rem;
	a {
		display: block;
		line-height: 38px;
  		margin: 10px 0;
		@include breakpoint($tiny) {
			display: inline;
			margin: 0 1rem 0 0;
		}
	}
}

// grid page styles
.example-grid {

	[class*='#{$column-class}-'],
	[data-columns] {
		background: $primary-color;
		color: white;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		font-weight: 600;
		line-height: 1.5;
		padding: 1.5rem 0;
		@include breakpoint($small) {
			padding: 1.5rem;
		}
		p {
			font-weight: 400;
		}
		h2 {
			margin: 0;
		}
	}

}

.hero {
	border-bottom: 1px solid #eee;
}

article {
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid #eee;
}

input[type="search"] {
	padding: 0.8rem 1rem;
	border: 0;
	&:focus {
		border: 0;
	}
}

.juice-bg {
	background-color: $primary-color;
	color: white;
	a {
		color: white;
		border-color: white;
	}
	&.example-grid {
		[class*='#{$column-class}-'],
		[data-columns] {
			background: $white;
			color: #222;
		}
	}
}

.circle {
	background: $light-grey;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto;
	.stripe:nth-child(even) {
		background: white;
	}
}

#footer {
	border-top: 1px solid #eee;
	padding: 5rem 0;
	font-weight: 600;
	font-size: 0.8rem;
	text-align: center;
	.created-by,
	.footer-meta a {
		display: block;
		line-height: 38px;
		margin: 10px 0;
		@include breakpoint($tiny) {
			display: inline;
			margin: 0;
		}
	}
	@include breakpoint($tiny) {
		.created-by {
			text-align: left;
			@include columns(2);
		}
		.footer-meta {
			text-align: right;
			@include columns(2);
			a {
				margin-left: 1rem;
			}
		}
	}
}
