table {
	width: 100%;
	max-width: 100%;

	th,
	td {
		padding: 1rem;
		border-bottom: 1px solid $dark;
		vertical-align: top;
	}

	th {
		text-align: left;
	}

	thead th {
		border-bottom-width: 2px;
		vertical-align: bottom;
	}
}
