//	Default box
.white-popup {
	position: relative;
	background: #FFF;
	width: auto;
	max-width: 650px;
	padding: 3rem;
	margin: 0 auto;
	&.modal-form {
		padding: 0;
	}
}

.mfp-inline li,
.mfp-image li {
	display: inline-block;
}

//	start state
.mfp-with-anim {
	opacity: 0;
}

[data-type='mfp-image']:not(.btn) {
	cursor: url(../images/plus.png), url(../images/plus.png), auto;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,0);
		transition: $transition;
	}
	&:hover {
		&:after {
			background: rgba(0,0,0,.5);
		}
	}
}

.mfp-bg {
	opacity: 0;
	background: rgba(0,0,0,.8);
	@extend %no-flick;
}

//	Fade in up
.mfp-fade-in-up {

	//	animate in
	&.mfp-ready {
		.mfp-with-anim {
			@extend .fadeInUp;
		}
		&.mfp-bg {
			@extend .fadeIn;
		}
	}

	//	animate out
	&.mfp-removing {
		.mfp-with-anim {
			@extend .fadeOutDown;
		}
		&.mfp-bg {
			@extend .fadeOut;
		}
	}

}

//	Fade in down
.mfp-fade-in-down {

	//	animate in
	&.mfp-ready {
		.mfp-with-anim {
			@extend .fadeInDown;
		}
		&.mfp-bg {
			@extend .fadeIn;
		}
	}

	//	animate out
	&.mfp-removing {
		.mfp-with-anim {
			@extend .fadeOutUp;
		}
		&.mfp-bg {
			@extend .fadeOut;
		}
	}

}

//	Move Horizontal
.mfp-move-horizontal {

	//	animate in
	&.mfp-ready {
		.mfp-with-anim {
			@extend .fadeInLeft;
		}
		&.mfp-bg {
			@extend .fadeIn;
		}
	}

	//	animate out
	&.mfp-removing {
		.mfp-with-anim {
			@extend .fadeOutRight;
		}
		&.mfp-bg {
			@extend .fadeOut;
		}
	}

}

//	Zoom-in effect
.mfp-zoom-in-big {

	//	animate in
	&.mfp-ready {
		.mfp-with-anim {
			@extend .fadeInScaleBig;
		}
		&.mfp-bg {
			@extend .fadeIn;
		}
	}

	//	animate out
	&.mfp-removing {
		.mfp-with-anim {
			@extend .fadeOutScaleBig;
		}
		&.mfp-bg {
			@extend .fadeOut;
		}
	}

}
