.padding-top-large {
	padding-top: 2rem;
	@include breakpoint($small) {
    	padding-top: 5rem;
	}
}

.padding-bottom-large {
	padding-bottom: 2rem;
    @include breakpoint($small) {
    	padding-bottom: 5rem;
	}
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.no-padding {
	padding-top: 0;
	padding-bottom: 0;
}

.dark {
    background-color: $dark;
    color: $white;
}

.container {
	transition: $transition;
}

// Espresso gh-pages styles

.gist-file pre {
	color: #222;
}

// grid page styles
.example-grid {

	[class*='#{$column-class}-'],
	[data-columns] {
		background: $yellow; // $aqua
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		font-weight: 600;
		line-height: 1.5;
		padding: 1.5rem 0;
		@include breakpoint($small) {
			padding: 1.5rem;
		}
		h2 {
			margin: 0;
		}
	}

}

.rounded {
	border-radius: 50%;
	width: 200px;
	display: block;
	margin: 0 auto;
}

#footer {
	border-top: 1px solid #f5f6f7;
	padding: 5rem 0;
	.created-by {

	}
	.footer-meta {
		list-style-type: none;
		text-align: right;
		a {
			margin-left: 1rem;
		}
	}
}
